@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.page{
  background-color: #2A2C2F;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 20px 0px 24px;
}

@media (min-width:768px) {
  .page{
  padding: 34px 0px 24px;
}
}
