.photo-grid{
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: 1fr ;
  gap: 12px;
  margin-top: 64px;
  margin-bottom: 64px;
}

@media (min-width: 768px){
  .photo-grid{
    grid-template-columns: repeat(2, 1fr) ;
    gap: 16px;
    width: calc(100% - 48px);
    margin-top: 88px;
    margin-bottom: 88px;
   }
}

@media (min-width: 1024px){
  .photo-grid{
    grid-template-columns: repeat(3, 1fr) ;
    gap: 14px;
    width: calc(100% - 96px);
    margin-top: 92px;
    margin-bottom: 92px;
   }
}

@media (min-width: 1280px){
  .photo-grid{
    grid-template-columns: repeat(4, 1fr) ;
    gap: 16px;
   }
}

