.cover__subtitle{
  margin: 0;
  padding: 0;
  width: calc(100% - 32px);
  min-width: 288px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 16px;
}

@media (min-width: 768px){
  .cover__subtitle{
    width: 320px;
    font-size: 18px;
    line-height: 22px;
    margin-top:32px ;
  }
}

